body{
    background-color: #7cc7e8;
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Hiragino Sans', 'ヒラギノ角ゴシック', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'ヒラギノ角ゴシック W3', 'Hiragino Maru Gothic Pro', 'ヒラギノ丸ゴ Pro W4', 'Hiragino Mincho Pro', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho ProN', 'ヒラギノ明朝 ProN W3', 'Hiragino Sans GB', 'Hiragino Kaku Gothic StdN', 'ヒラギノ角ゴ StdN W8', 'Hiragino Kaku Gothic Std', 'ヒラギノ角ゴ Std W8', sans-serif;
    min-width: 320px; /* モバイル対応 */
    overflow-x: hidden; /* 横スクロールを防ぐ */
    overflow-y: auto; /* 縦スクロールは許可 */
    min-width: 915px;
}

.common-buttons{
    background-color: #4169e1;
    border: none;
    color: #FFFFFF;
    border-radius:5px;
}
.common-buttons:hover{
    background-color: #3453b3;
}

.locked-common-buttons{
    background-color: #a9a9a9;
    border: none;
    color: #1A2421;
    border-radius:5px;
}

.right-button{
    float: right;
}

.delete-buttons{
    background-color: #ff002b;
    width: 80px;
}

.edit-buttons{
    background-color: #66ccaa;
    width: 300px;
}
.upload-buttons{
    background-color: #66ccaa;
    width: 160px;   
}

.delete-buttons:hover{
    background-color: #e60026;
}
.upload-buttons:hover{
    background-color: #59b395;
}

.edit-buttons:hover{
    background-color: #59b395;
}

