.header-main{
    background-color: #4169e1;
    width: 100%;
    height: 80px;
    display: flex;
}

.header-label-outer{
    padding-left: 20px;
    width:80%;
    display: table;
}

.header-label-inner{
    display: table-cell;
    vertical-align: middle;
    font-size: 30px;
    color: #FFFFFF;
}

.user-form-main{
    padding: 25px 5px;
    background-color: #FFFFFF;
    width:500px;
    height: 560px;
    margin: 80px auto 0px auto;
}
.form-title{
    display: grid;
    font-size: 30px;
    text-align: center;
}
.input-form{
    width:80%;
    height: 75%;
    margin: 24px auto 0 auto;
}
.user-form-contents{
    margin-bottom: 18px;
}
.user-form-label{
    display: block;
}
.user-form-input{
    width:98%;
    height:28px;
}
.auth-radio-button{
    margin-right: 20px;
}
.user-form-button{
    width:120px;
    height: 40px;
    font-size: 18px;
}
.user-form-buttons{
    width:80%;
    margin:0 auto;
}
.error-sentence{
    color: #FF0000;
}

.project-form-buttons{
    width:80%;
    margin:30px auto 0px auto;
}

.new-project-modal-main {
    position: fixed;
    width:500px;
    height: 480px;
    padding: 25px 5px;
    background-color: #FFFFFF;
    border: #000000 solid 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-list-main{
    padding: 60px 0px;
    margin: 0 auto;
    width:80%;
    height:90%;
}

.project-div{
    display: flex;
    align-items: center;
    margin:0px auto 20px auto;
    width:80%;
    height: 100px;
    padding:10px;
    border-radius: 5px;
}
.unlocked-project-div{
    background-color: #FFFFFF;
}
.locked-project-div{
    background-color: #a9a9a9;
}

.project-name{
    display: table-cell;
    font-size:24px;
}

.project-description{
    height:18px;
    font-size: 16px;
}

.name-and-description{
    margin-left: 20px;
    width:80%;
}

.to-project-button {
    color: #FFFFFF;
    background-color: #000000;
    font-size: 34px;
    text-align: center;
    width: 56px;
    border-radius: 5px;
    height: 56px;
    display: flex;           
    align-items: center;     
    justify-content: center;
}
.to-project-button:hover{
    background-color: #4169e1;
    border:#FFFFFF solid 1px;
}

.join-project-modal-main {
    position: fixed;
    width:500px;
    height: 300px;
    padding: 25px 5px;
    background-color: #FFFFFF;
    border: #000000 solid 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.join-project-input-form{
    width:80%;
    height: 45%;
    margin: 24px auto 0 auto;
}

.hamburger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    width: 80px;
    height: 80px;
}

.hamburger-menu img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    color:#FFFFFF;
}

.sidebar-main {
    position: fixed;
    top: 0;
    left: 0px; 
    background-color: #4169e1;
    height: 100vh;
    width: 300px;
    transition: left 3s ease;
}


.close-sidebar-button{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0px;
    right:-50px;
    width:50px;
    height:50px;
    color: #FFFFFF;
    background-color: #000000;
    
}
.close-sidebar-button:hover{
    background-color: #4169e1;
    border: #000000 solid 1px;
}
.close-sidebar-button-icon{
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.sidebar-menu{
    
}