.header-main{
    background-color: #4169e1;
    width: 100%;
    height: 80px;
    display: flex;
}

.header-label-outer{
    padding-left: 20px;
    display: table;
}

.header-label-inner{
    display: table-cell;
    vertical-align: middle;
    font-size: 30px;
    color: #FFFFFF;
}

.user-form-main{
    padding: 25px 5px;
    background-color: #FFFFFF;
    width:500px;
    height: 560px;
    margin: 60px auto 0px auto;
}
.form-title{
    display: grid;
    font-size: 30px;
    text-align: center;
}
.input-form{
    width:80%;
    height: 75%;
    margin: 24px auto 0 auto;
}
.user-form-contents{
    margin-bottom: 18px;
}
.user-form-label{
    display: block;
}
.user-form-input{
    width:98%;
    height:28px;
}
.auth-radio-button{
    margin-right: 20px;
}
.user-form-button{
    width:120px;
    height: 40px;
    font-size: 18px;
}
.user-form-buttons{
    width:80%;
    margin:0 auto;
}
.error-sentence{
    color: #FF0000;
}

.project-form-buttons{
    width:80%;
    margin:30px auto 0px auto;
}

.new-project-modal-main {
    position: fixed;
    width:500px;
    height: 480px;
    padding: 25px 5px;
    background-color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 90000;
}

.project-list-main{
    padding: 10px 0px;
    margin: 60px auto 0px auto;
    width:80%;
    height:80%;
    overflow-y: scroll;
}
.project-list-main::-webkit-scrollbar {
    background-color: #7cc7e8;
    height: 20px;
    border-radius: 5px;
  }

.project-list-main::-webkit-scrollbar-thumb {
background-color: #4169e1;
border-radius: 5px;

}
.project-list-main::-webkit-scrollbar-thumb:hover {
background-color: #3453b3;
}

.project-div{
    display: flex;
    align-items: center;
    margin:0px auto 20px auto;
    width:90%;
    height: 100px;
    padding:10px;
    border-radius: 5px;
}
.unlocked-project-div{
    background-color: #FFFFFF;
}
.locked-project-div{
    background-color: #a9a9a9;
}

.project-name{
    display: table-cell;
    font-size:24px;
}

.project-description{
    height:18px;
    font-size: 16px;
}

.name-and-description{
    margin-left: 20px;
    width:80%;
}

.to-project-button {
    color: #FFFFFF;
    background-color: #4169e1;
    font-size: 34px;
    text-align: center;
    width: 56px;
    border-radius: 5px;
    height: 56px;
    display: flex;           
    align-items: center;     
    justify-content: center;
}
.to-project-button:hover{
    background-color: #3453b3;
}

.join-project-modal-main {
    position: fixed;
    width:500px;
    height: 300px;
    padding: 25px 5px;
    background-color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 90000;
}

.join-project-input-form{
    width:80%;
    height: 45%;
    margin: 24px auto 0 auto;
}

.hamburger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    width: 80px;
    height: 80px;
}

.hamburger-menu img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    color:#FFFFFF;
}

/* 最前面に配置 */
.sidebar-main {
    position: fixed;
    top: 0px;
    left: 0px; 
    background-color: #4169e1;
    height: 100vh;
    width: 300px;
    z-index: 100000;
}


.close-sidebar-button{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0px;
    right:-52px;
    width:50px;
    height:50px;
    color: #FFFFFF;
    background-color: none;
    
}

.close-sidebar-button-icon{
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.sidebar-menu{
    width:100%;
}
.sidebar-menu-value {
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-menu-value:hover{
    background-color: #3b5fcc;
}

.user-info-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height:50px;
    font-size: 20px;
    margin:15px 15px 15px auto;
    border-radius: 25px;
    color: #4169e1;
}

.admin-user-info-div{
    background-color: #F799FF;
}
.normal-user-info-div{
    background-color: #FFFFFF;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }