.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center; /* ← これで親 flex の子は縦中央に */
  padding: 6px 12px;
  background-color: #ebe9e6;
  /* border:0.5px #a9a9a9 solid;s */
}

.breadcrumb-item {
  margin: 0 5px;
  color:#4d4d4d;
  font-size: 20px;
  font-weight:600;
  display: inline-block;
  vertical-align: middle;
}


.parent-folder-button {
  width: 30px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  font-size: 24px;
  background-color: #FFFFFF;
  border: #4d4d4d solid 0.1px;
  margin-right: 10px;
  border-radius: 3px;
}


.parent-folder-button span {
  position: relative;
  top: -12px; 
  color: #4d4d4d;
}

.parent-folder-button span.parent-folder-button-span-disabled{
  color:#ebe9e6;
}