.project-detail-main{
    position: relative;
    width:80%;
    height:680px;
    margin: 20px auto 0px auto;
    background-color: #FFFFFF;
    min-width:900px;
}

.project-detail-title{
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
}
.upload-img-button{
    position: absolute;
    top:20px;
    right:20px;
}
.project-detail-button{
    border-radius:5px;
    width:120px;
    height: 40px;
}

.menu-outer-flex{
    display: flex;
}

.select-display-status{
    background-color: #FFFF00;
}
