.list-view-main{
    width:100%;
    height: 95%;
    border:0.5px #a9a9a9 solid;
    overflow-y: scroll;
}

.list-view-item{
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left:10px;
}
.arrow{
}
.list-view-item-even{

}

.list-view-item-odd{
    background-color: #f4f4f4;
}

.folder-icon{

}

.img-icon{
    display:block;
    margin-left: 5px;
    width: 20px;
}

.folder-name-span{
    margin-left: 10px;
}

.dnd-image-file-view-main {
  border: 0.5px #a9a9a9 solid;
  width: 100%;
  height: 95%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start; /* 追加: 縦方向の配置を上揃えに */
  gap: 20px 10px;
}

.dnd-image-file-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}