.list-view-main{
    width: 40%;
    height: 100%;
    border-right: 0.5px #e1e5e9 solid;
    overflow-y: auto;
    flex: 1; /* 残りのスペースを占有 */
    background-color: #ffffff;
}

.list-view-item{
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left:10px;
}
.arrow{
}
.list-view-item-even{

}

.list-view-item-odd{
    background-color: #f8f9fa;
}

.folder-icon{

}

.img-icon{
    display:block;
    margin-left: 5px;
    width: 20px;
}

.folder-name-span{
    margin-left: 10px;
}