.image-file-view-main{
  width:60%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 6px 10px;


}

.image-file-item{
    width: 150px;
    height: 150px;
}