.image-file-view-main{
  width:60%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start; /* 追加: 縦方向の配置を上揃えに */
  gap: 20px 10px;

}

.image-file-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;

}