.project-detail-main{
    position: relative;
    width:95%;
    height:750px;
    margin: 20px auto 20px auto;
    background-color: #FFFFFF;
    min-width:900px;
    border-radius:5px;
    padding:10px;
}

.project-detail-title{
    text-align: center;
    padding-top: 5px;
    font-size: 30px;
}
.upload-img-button{
    position: absolute;
    top:20px;
    right:20px;
}
.project-detail-button{
    border-radius:5px;
    width:120px;
    height: 40px;
    font-size: 16px;
}

.menu-outer-flex{
    height:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
}
.select-display-status {
    position: relative;
    width: 260px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border: #000000 solid 1px;
    border-radius:5px;
    height:50px;
  }
  
  .pulldown-icon {
    width: 20px;
  }
  .checked-icon{
    width: 16px;
    margin-left: 20px;
  }
  
  .select-status-label {
    padding-left: 10px;
    width: 210px;
    font-size: 16px;
  }
  
  .select-status-menu {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 260px;
    display: flex;
    flex-direction: column;
    border: #a9a9a9 solid 0.2px;
    border-radius:5px;
    z-index: 20;
  }
  
  .menu-content {
    display: flex;
    align-items: center; 
    padding-left: 10px;
    font-size: 16px;
    height: 50px;
    background-color: #FFFFFF;
  } 
  .menu-content:hover{
    background-color: #d3d3d3;
  }

  .project-title{
    font-size: 30px;
    position:absolute;
    top:10px;
    left:50%;
    transform: translate(-50%,0);
  }

  .option-buttons-div{
    display: flex;
    justify-content: space-between;
    gap:20px;
    width:fit-content;
  }

  .option-buttons{
    border-radius:5px;
    border:none;
    color: #FFFFFF;
    font-size: 20px;
    height:50px;
  }

.display-area {
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 90%;
  flex-wrap: wrap; 
  justify-content: left;
  overflow-y: scroll;
  overflow-x: hidden;

  display: flex; /* ← flexが指定されているので横幅制御が特に重要 */
}

.display-area::-webkit-scrollbar {
  height: 20px;
  border-radius: 5px;
}

.display-area::-webkit-scrollbar-thumb {
background-color: #4169e1;
border-radius: 5px;

}
.display-area::-webkit-scrollbar-thumb:hover {
background-color: #3453b3;
}

.clustering-buttons{
    background-color: #66ccaa;
    width: 200px;
}

.locked-clustering-buttons{
  background-color: #a9a9a9;
}