.dnd-interface-div-main {
    width: 100%;
    margin-top: 20px;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    gap: 20px;
    /* box-sizing: border-box; */
}